PORT=3000
RPC_ENDPOINT=https://rpc.aboutcircles.com/
WS_ENDPOINT=wss://rpc.aboutcircles.com/ws
DATABASE_PATH=./data/profiles.db

IPFS_HOST=localhost
IPFS_PORT=5001
IPFS_PROTOCOL=http
IPFS_GATEWAY=https://rpc.aboutcircles.com/profiles

NAME_REGISTRY_CONTRACT=0xA27566fD89162cC3D40Cb59c87AAaA49B85F3474

CORS_ORIGIN=*
